*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 50vh;
    font-family: 'montserrat' , sans-serif;
    background-image: url(./Images/691200.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0 , 0 , 0 , 0.2) , rgba(0 , 0 , 0 , 0.4));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255 , 255 , 255 , 0.3);
    border-radius: 0px 16px 0 16px; 
}
